<!DOCTYPE html>
<html>
<head>
    <title>Pi Command Manage</title>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <style>
    </style>
</head>
<body>
<div id="app">
    <v-app>
        <v-main>
            <v-container>
                <v-alert v-model="alert.show" :type="alert.type" :dismissible="true" dense>
                    {{alert.msg}}
                </v-alert>

                <v-row>
                    <v-col cols="23">
                        <v-text-field dense placeholder="Text command here..." outlined
                                      v-model="command"></v-text-field>
                    </v-col>

                    <v-col cols="1">
                        <v-btn color="primary" @click="submitCommand">
                            Submit
                        </v-btn>
                    </v-col>
                </v-row>

                <v-data-table
                        :headers="commandHeaders"
                        :items="commandData"
                        :items-per-page="5"
                        class="elevation-1"
                >
                    <template v-slot:item.status="{ item }">
                        <v-chip :color="getStatusColor(item.status)" small>{{ item.status }}</v-chip>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-icon small @click="handleDelete(item.id)"
                        >
                            mdi-delete
                        </v-icon>
                    </template>
                </v-data-table>

                <v-dialog v-model="dialog.show" persistent max-width="400">
                    <v-card>
                        <v-card-title class="headline">Are you sure you want to do this?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" text @click="closeDialog">Cancel</v-btn>
                            <v-btn color="green darken-1" text @click="dialog.fuc()">Confirm</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-container>
            <v-dialog :value='true' persistent max-width="400">
                <v-card>
                    <v-card-title class="deep-purple darken-1 white--text">
                        Login
                    </v-card-title>
                    <v-card-text class="pt-4">
                        <v-text-field v-model="security.key" dense placeholder="Enter Key..." outlined
                                      autofocus :error="security.error"
                                      :error-messages="security.errorMsg"></v-text-field>
                        <v-btn color="primary" @click="submitLogin">
                            Enter
                        </v-btn>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </v-main>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/httpUtils.js"></script>
<script>

    const HOST = 'http://localhost:8080/';
    const LOGIN_URL = 'panel/login';
    const PAGE_URL = 'panel/command';
    const CREATE_URL = 'panel/command';
    const DEL_URL = 'panel/command';
    const https = new HttpUtils(HOST);

    const app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            security: {
                key: '',
                error: false,
                errorMsg: ''
            },
            commandHeaders: [
                {text: 'Id', value: 'id'},
                {text: 'Content', value: 'content'},
                {text: 'Status', value: 'status'},
                {value: 'actions'}
            ],
            commandData: [],
            command: '',
            alert: {
                show: false,
                msg: '',
                type: 'info'
            },
            dialog: {
                show: false,
                fuc: function () {
                }
            }
        },
        methods: {
            init: function () {
                https.get(PAGE_URL, {
                    params: {page: 0, size: 10}
                }).then(function (response) {
                    app.commandData = response.content;
                }).catch(function (error) {
                    app.showAlert(error).error()
                });
            },
            submitLogin: function () {
                if (this.security.key === '') {
                    this.security.error = true
                    this.security.errorMsg = 'Key 不能为空'
                    return
                }
                https.post(LOGIN_URL, {
                    key: app.security.key
                }).then(function (response) {
                    console.log(response)
                }).catch(function (error) {
                    app.security.error = true
                    app.security.errorMsg = https.err(error)
                })
            },
            submitCommand: function () {
                if (this.command === '') {
                    app.showAlert('输入命令不能为空').error()
                    return
                }

                https.post(CREATE_URL, {
                    params: {
                        command: app.command
                    }
                }).then(function (response) {
                    app.init()
                }).catch(function (error) {
                    app.showAlert(error).error()
                });
            },
            deleteCommand(id) {
                https.del(DEL_URL + '/' + id)
                    .then(function () {
                        app.showAlert('删除成功').success()
                        app.init();
                    }).catch(function (error) {
                    app.showAlert(error).error()
                })
                app.closeDialog()
            },
            handleDelete: function (id) {
                this.dialog.show = true
                this.dialog.fuc = function () {
                    app.deleteCommand(id)
                }
            },
            getStatusColor(status) {
                switch (status) {
                    case 'UN_READ':
                        return 'info'
                    case 'ACCEPT':
                        return 'primary'
                    case 'EXECUTED':
                        return 'success'
                }
            },
            showAlert: function (msg) {
                app.alert.show = true;
                app.alert.msg = msg;
                return {
                    success: function () {
                        app.alert.type = 'success'
                    },
                    error: function () {
                        app.alert.type = 'error'
                    }
                }
            },
            closeAlert: function () {
                this.alert.show = false;
                this.alert.msg = '';
            },
            closeDialog() {
                this.dialog = {
                    show: false,
                    fuc: function () {
                    }
                }
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                app.init()
            })
        }
    });
</script>
</body>
</html>