<!DOCTYPE html>
<html>
<head>
    <title>Pi Command Manage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
        .container {
            margin: 50px auto 100px auto;
        }

        .table {
            width: 100%;
        }

        .notification {
            margin: 1rem auto;
        }

        .modal-card-body {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        .modal-card {
            max-width: 460px;
            width: auto;
            min-width: 320px;
        }

        .modal-card-foot {
            justify-content: flex-end;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="container">
        <div>
            <div class="notification is-primary" v-show="notification.show">
                <button class="delete" @click="closeNotification"></button>
                <span>{{notification.msg}}</span>
            </div>
        </div>

        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input is-rounded" type="text" placeholder="Text command..." v-model="command">
            </div>
            <div class="control">
                <button class="button is-info is-rounded" @click="submitCommand">
                    Submit
                </button>
            </div>
        </div>
        <div class="box">
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 51px;">Id</th>
                    <th>Content</th>
                    <th style="width: 140px;">Status</th>
                    <th style="width: 51px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="command in commandData">
                    <th>{{command.id}}</th>
                    <td>{{command.content}}</td>
                    <td><span class="tag" v-bind:class="{'is-dark': command.status == 'UN_READ',
                                                     'is-info': command.status == 'ACCEPT',
                                                     'is-success': command.status == 'EXECUTED'}">
                    {{command.status}}
                </span></td>
                    <td><a class="delete" @click="handleDelete(command.id)"></a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal" v-bind:class="{'is-active': modal.show}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <section class="modal-card-body">
                    <div><p>Are you sure you want to do this?</p></div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" @click="closeModal">
                        Cancel
                    </button>
                    <button class="button is-danger" @click="modal.fuc()">
                        Confirm
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>

<script>
    const HOST = 'http://localhost:8080/';
    const PAGE_URL = HOST + 'panel/command';
    const CREATE_URL = HOST + 'panel/command';

    const app = new Vue({
        el: '#app',
        data: {
            commandData: {},
            notification: {
                show: false,
                msg: ''
            },
            command: '',
            modal: {
                show: false,
                fuc: function () {
                }
            }
        },
        methods: {
            init: function () {
                axios.get(PAGE_URL, {
                    params: {
                        page: 0,
                        size: 10
                    }
                }).then(function (response) {
                    console.log(response)
                    app.commandData = response.data.content;
                }).catch(function (error) {
                    console.log(error);
                    app.showNotification(error)
                });
            },
            closeNotification: function () {
                this.notification.show = false;
                this.notification.msg = '';
            },
            submitCommand: function () {
                if (this.command === '') {
                    app.showNotification('输入命令不能为空')
                    return
                }

                axios.post(CREATE_URL, {
                    params: {
                        command: app.command
                    }
                }).then(function (response) {
                    console.log(response)
                    app.init()
                }).catch(function (error) {
                    console.log(error)
                    app.showNotification(error)
                });
            },
            handleDelete: function (id) {
                console.log(id)
                this.modal.show = true
            },
            showNotification: function (msg) {
                app.notification.show = true;
                app.notification.msg = msg;
            },
            closeModal() {
                this.modal = {
                    show: false,
                    fuc: function () {
                    }
                }
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                app.init()
            })
        }
    });
</script>
</body>
</html>